// COLORS
$backColor0: rgb(30, 41, 49);
$backColor1: rgb(56, 76, 89);

$radialGradient: radial-gradient(at top right, $backColor1, $backColor0);

$textColor: #fff;

// FONT
$fontFamily: "Lato", sans-serif;

// MISC.

$topBarHeight: 120px;
